h1 {
  color: red;
}
h2 {
  color: blue;
}
p {
  text-align: center;
  font-style: oblique;
}
.ja-bold-font {
  font-weight: bolder;
}
body {
  font-family: sans-serif;
}
ol li {
    font-size: 25px;
    line-height: 200px;
}
